body {
    
}

article {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 120px);
    text-align: center;
    color: white;
    background-color: black;
}


    
ul {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

li {
    background-color: green;
    list-style: none;
    text-align: center;
}

a {
  color: yellow;
  text-decoration: none;
}

img {
    width: 100%;
    padding: 5%;
    border: solid white 1px;
}

h1 {
    color: green;
}